.tituloPrincipal{
    text-align: center;
    background-color: lightskyblue;
    color: black;
    padding: 20px;
    font: Verdana, Arial, sans-serif;
}

/*Elementos de diseño de los subtitulos cada página html*/
.subtitulo{
    text-align: center;
    background-color: lightcyan;
    color: navy;
    padding: 15px;
    font: Verdana, Arial, sans-serif;
}

/*Elementos de diseño de las listas  utilizadas */
nav ul{
    background-color: lightcyan;
    width: 100%;
    list-style-type: none;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

nav li{
    display: inline-flex;
}

nav li:hover{
    background-color: lightskyblue;
}

nav a{
    text-decoration: none;
    padding: 10px;
    width: 150px;
    color:navy;
}

/*Elementos de diseño del formulario de ingreso */
.formularioIngreso{
    text-align: center;
    background-color: lightblue;
    /*background-color: transparent;
    filter: alpha(opacity=70);*/
    width: 40%;
    margin:auto;
    border:  2px royalblue double;
    padding: 20px;
    
}

/*Elementos de diseño del formulario de inscripción */
.formularioInscripcion{
    text-align: left;
    background-color: lightblue;
    width: 40%;
    margin:auto;
    border: 2px royalblue double;
    padding: 15px;
}